h1, h2, h3, h4, h5, h6, p, article {
    font-family: "Microsoft YaHei", "黑体", "宋体", sans-serif, "Open Sans";
}

h2 {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 18px;
    margin-top: 36px;
}

h3 {
    margin-top: 30px;
}

p {
    line-height: 1.8;
}

a {
    color: #CE2323;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ol, ul {
    list-style: none;
}

header {
    max-width: 800px;
    margin: 0 auto;
}

header h1 {
    text-align: right;
}

header h1 a {
    color: inherit;
    text-decoration: none;
}

footer .logo {
    height: 50px;
    float: right;
    margin: 20px;
}

pre {
    padding: 2px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 1px solid #888;
    background-color: rgb(240, 240, 240);
    border-radius: 4px;
    overflow-x: auto;
    line-height: 1em;
}

code {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    display: inline-block;
    padding: 0px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
}

pre code {
    display: block;
    padding: 0.5em 1em;

    color: initial;
    background-color: initial;

    font-size: 95%;
    line-height: 140%;
    white-space: pre;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
}

.container {
    padding: 20px 80px;
}

.posts {
    padding-left: 0px;
    max-width: 800px;
    margin: 0 auto;
}

.posts h2 {
    font-weight: normal;
}

.posts li {
    border-bottom: 1px solid #eeeeee;
}

.posts li p {
    font-size: 14px;
    margin-left: 40px;
}

.posts p {
    margin-bottom: 36px;
}

article {
    padding: 30px 20px;
    max-width: 800px;
    margin: 0 auto;
}

article .title {
    margin-bottom: 50px;
}

article h1 {
    color: #CE2323;
    font-size: 36px;
    margin-bottom: 10px;
}

article h2 {
    padding-bottom: 5px;
    border-bottom: 1px solid #eee;
}

article img {
    width: 100%;
}

.meta {
    display: block;
    margin-bottom: 14px;
    color: #8d8d8d;
    font-size: 10px;
}

h2 .meta {
    float: right;
    font-size: 10px;
    font-weight: 100;
}

.pagination .prev {
    display: block;
}

.pagination .next {
    display: block;
}

#disqus_thread {
    margin-top: 20px;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 20px 6px;
    }

    h2 .meta {
        float: left;
        width: 100%;
    }

    .posts li p {
        margin-left: 0px;
    }
}

