---
layout: page
title: "About"
description: "人生下来就要拼命活着 拼过 活过 就是一辈子"
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <!--copied from markdown -->
    <blockquote><p>Server Software Engineer<br>
    专注于互联网搜索技术/社区平台/爬虫抓取/数据挖掘</p></blockquote>

<p>目前我就职于百度上海研发中心，主要从事搜索/平台/社区等设计和研发工作。</p>

<p>希望这个博客帮助你解决一些实践中的问题，并让我们一起在思考中，将事情做的越来越好。</p>

<p>My github is: <a href="https://github.com/yinhaomin">Github David</a>.</p>

<p>如果有任何想讨论的问题，请通过我的邮箱联系我: <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#098;&#105;&#103;&#121;&#104;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Mail to Yin Haomin</a></p>

<h3 id="david-yin">David Yin</h3>

<table>
  <thead>
    <tr>
      <th style="text-align: left">时间</th>
      <th style="text-align: left">公司/大学</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">2013.11-Now</td>
      <td style="text-align: left">百度(中国)有限公司</td>
    </tr>
    <tr>
      <td style="text-align: left">2012.02-2013.10</td>
      <td style="text-align: left">微创-微软外包</td>
    </tr>
    <tr>
      <td style="text-align: left">2008.09-2012.07</td>
      <td style="text-align: left">华东政法大学,计算机专业</td>
    </tr>
    <tr>
      <td style="text-align: left">2010.09-2011.07</td>
      <td style="text-align: left">东华大学,信息安全专业</td>
    </tr>
  </tbody>
</table>

</div>

<!-- English Version -->
<div class="en post-container">
    <!--copied from markdown -->
    <blockquote><p>Server Software Engineer<br>
    Focused on internet search/platform/crawler/data mining</p></blockquote>
    
    <p>This will be a short introduce about the website owner and the words I want to say about the website alive. Currently I work as a software engineer in Baidu China. Focused on java develop and system design. Glad to share the solutions of problems and the thoughts of system designs with you guys. Let’s forge to develiver a wholly new world and together persuit a better tomorrow.
Finally the website is alive, be wild and be strong, across the wall, we can reach anywhere we want in the world. :)</p>

<p>Hope the blogs are helpful to you.</p>

<p>My github is: <a href="https://github.com/yinhaomin">Github David</a>.</p>

<p>If you have any question, just comment under the artical or contact via e-mail: <a href="&#109;&#097;&#105;&#108;&#116;&#111;:&#098;&#105;&#103;&#121;&#104;&#109;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Mail to Yin Haomin</a></p>

<h3 id="david-yin">David Yin</h3>

<table>
  <thead>
    <tr>
      <th style="text-align: left">Time</th>
      <th style="text-align: left">Commpany/University</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="text-align: left">2013.11-Now</td>
      <td style="text-align: left">Baidu(China) Inc.</td>
    </tr>
    <tr>
      <td style="text-align: left">2012.02-2013.10</td>
      <td style="text-align: left">Wicresoft-Microsoft Outsource</td>
    </tr>
    <tr>
      <td style="text-align: left">2008.09-2012.07</td>
      <td style="text-align: left">East China University of Political Science and Law, Computer Science and Technology</td>
    </tr>
    <tr>
      <td style="text-align: left">2010.09-2011.07</td>
      <td style="text-align: left">Donghua University, Information Security</td>
    </tr>
  </tbody>
</table>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
