---
title: WordLife
layout: page
description: "求知若饥，虚怀若愚"
header-img: "img/valley.jpg"
---

<!-- Page Header 
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
-->

<!-- Main Content -->
<div class="container">
	<div class="row">
		<h2><strong>2016年4月</strong></h2><br>
			<table border="0" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td width="15px">01 管理</td>
					<td width="15px">02 搬家</td>
					<td width="15px">03 整理</td>
					<td width="15px">04 宽带·快递·电视</td>
				</tr>
				<tr>
					<td width="15px">05 </td>
					<td width="15px">06 </td>
					<td width="15px">07 接机</td>
					<td width="15px">08 讨论</td>
				</tr>
				<tr>
					<td width="15px">09 送机</td>
					<td width="15px">10 </td>
					<td width="15px">11 </td>
					<td width="15px">12 </td>
				</tr>
				</tbody>
			</table>

	</div>
</div>
