---
title: WordLife
layout: page
description: "求知若饥，虚怀若愚"
header-img: "img/castle.jpg"
---

<!-- Page Header 
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
-->

<!-- Main Content -->
<div class="zh post-container">
		<br><h2><strong>2016年6月</strong></h2><br>
			<table font face="calibri";size="5" border="0" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td width="150px">01 态度,清醒</td>
					<td width="150px">02 源码</td>
					<td width="150px">03 上线</td>
					<td width="150px">04 RB</td>
				</tr>
				<tr>
					<td width="150px">05 Algorithm</td>
					<td width="150px">06 脊柱</td>
					<td width="150px">07 Jpaas FTP</td>
					<td width="150px">08 Java command</td>
				</tr>
				<tr>
					<td width="150px">09 送别,西安</td>
					<td width="150px">10 多线程,图兰朵</td>
					<td width="150px">11 Study</td>
					<td width="150px">12 FTP solved</td>
				</tr>
				
				<tr>
					<td width="150px">13 Pick up</td>
					<td width="150px">14 </td>
					<td width="150px">15 </td>
					<td width="150px">16 </td>
				</tr>
				
				<tr>
					<td width="150px">17 </td>
					<td width="150px">18 </td>
					<td width="150px">19 </td>
					<td width="150px">20 </td>
				</tr>

				<tr>
					<td width="150px">21 </td>
					<td width="150px">22 </td>
					<td width="150px">23 </td>
					<td width="150px">24 </td>
				</tr>

				<tr>
					<td width="150px">25 </td>
					<td width="150px">26 </td>
					<td width="150px">27 </td>
					<td width="150px">28 </td>
				</tr>
				
				<tr>
					<td width="150px">29 </td>
					<td width="150px">30 </td>
					<td width="150px"> </td>
					<td width="150px"> </td>
				</tr>
				</tbody>
			</table>
	
			<h2><strong>2016年5月</strong></h2><br>
			<table font face="calibri";size="5" border="0" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td width="150px">01 黑吃黑</td>
					<td width="150px">02 睡觉</td>
					<td width="150px">03 机场,贵</td>
					<td width="150px">04 研究,剥夺</td>
				</tr>
				<tr>
					<td width="150px">05 保证机制</td>
					<td width="150px">06 Task,Unit</td>
					<td width="150px">07 睡觉</td>
					<td width="150px">08 闹中取静</td>
				</tr>
				<tr>
					<td width="150px">09 <a href="http://baike.baidu.com/link?url=1YgQ2GXqL26UlDVoLytA_LdRk2asXV7xD8H99Ltk7kWwXBSqcUOVulIVmUd5p6wiovCT7f53hb_RYi086CJNFq">番茄工作法</a></td>
					<td width="150px">10 Just do it</td>
					<td width="150px">11 实事求是,讲实在话</td>
					<td width="150px">12 篮球,地震纪念</td>
				</tr>
				
				<tr>
					<td width="150px">13 确认</td>
					<td width="150px">14 Play,闲</td>
					<td width="150px">15 Coding</td>
					<td width="150px">16 Coding</td>
				</tr>
				
				<tr>
					<td width="150px">17 Novorossiysk 1968</td>
					<td width="150px">18 Coding</td>
					<td width="150px">19 Coding</td>
					<td width="150px">20 思考改变世界</td>
				</tr>

				<tr>
					<td width="150px">21 目标</td>
					<td width="150px">22 网球</td>
					<td width="150px">23 Coding</td>
					<td width="150px">24 Coding</td>
				</tr>

				<tr>
					<td width="150px">25 Coding</td>
					<td width="150px">26 Coding</td>
					<td width="150px">27 Error</td>
					<td width="150px">28 翻译</td>
				</tr>
				
				<tr>
					<td width="150px">29 爱情,婚礼</td>
					<td width="150px">30 hadoop-core</td>
					<td width="150px">31 投稿,工资</td>
					<td width="150px"> </td>
				</tr>
				</tbody>
			</table>
	
		<br><h2><strong>2016年4月</strong></h2><br>
			<table font face="calibri";size="5" border="0" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td width="150px">01 Sancta Maria</td>
					<td width="150px">02 Expect</td>
					<td width="150px">03 Clear Expect</td>
					<td width="150px">04 表达方式</td>
				</tr>
				<tr>
					<td width="150px">05 Coldplay</td>
					<td width="150px">06 Fix you</td>
					<td width="150px">07 </td>
					<td width="150px">08 </td>
				</tr>
				<tr>
					<td width="150px">09 嵊泗,船,狼人</td>
					<td width="150px">10 黄色的海</td>
					<td width="150px">11 Blog</td>
					<td width="150px">12 改版</td>
				</tr>
				
				<tr>
					<td width="150px">13 湿热,After Forever</td>
					<td width="150px">14 动态Clz,内容联盟</td>
					<td width="150px">15 日志数据流,挖掘点</td>
					<td width="150px">16 Walking in the air</td>
				</tr>
				
				<tr>
					<td width="150px">17 睡觉</td>
					<td width="150px">18 动态Clz,时间飞逝</td>
					<td width="150px">19 早睡早起,实事求是</td>
					<td width="150px">20 Inner Peace</td>
				</tr>

				<tr>
					<td width="150px">21 主动搞定</td>
					<td width="150px">22 聊设计,思维清晰</td>
					<td width="150px">23 国际市场</td>
					<td width="150px">24 失眠</td>
				</tr>

				<tr>
					<td width="150px">25 Palo,困,金钱损失</td>
					<td width="150px">26 开会,Thread</td>
					<td width="150px">27 加州</td>
					<td width="150px">28 疲倦</td>
				</tr>
				
				<tr>
					<td width="150px">29 美国,棺材</td>
					<td width="150px">30 睡觉</td>
					<td width="150px"> </td>
					<td width="150px"> </td>
				</tr>
				</tbody>
			</table>

		<br><h2><strong>2016年3月</strong></h2><br>
			<table border="0" cellspacing="0" cellpadding="0">
				<tbody>
				<tr>
					<td width="150px">29 </td>
					<td width="150px">30 </td>
					<td width="150px">31 工资</td>
					<td width="150px"> </td>
				</tr>
				</tbody>
			</table>

</div>
