---
title: WORKS
layout: page
description: "You have been the edge of this world."
header-img: "img/south-polar.jpg"
---


<!-- Page Header 
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
-->

<!-- Main Content -->
<div>
	<h1><a href="http://www.yinhaomin.com/2016/04/14/Dynamically-generate-class-and-set-its-fields-value/">0x00. Configurable-Middleware</a></h1>
	<p>This is a configurable middleware system.<br>
This project want to solve a problem like this. In a subscribe system, every time we have to change the field subscription, we have to change the subscribe codes and re-publish the whole project. I think that it is a time waste thing, and I want to rebuild the project and make the field subscription configurable.<br>
I used the disconf to save the class config, You can also use your DB to save the config, and regenrate the class in the codes when the subscription changes.<br>
<a href ="https://github.com/yinhaomin/Configurable-Middleware">Click here to see it on Github</a>.
	</p>
	
	<h1><a href="http://www.yinhaomin.com/2015/11/18/Get-a-Spring-bean-from-MySQL-and-dynamic-change-the-bean-when-running/">0x01. Self-build-Configuration-Center</a></h1>
	<p>This is a solution of self-build configuration center.<br>
There are opensource solution of configuration center like <a href ="https://github.com/knightliao/disconf">Disconf</a>. However, what if we do not want to use the opensource soulution which maybe unsafe.<br>
How can we solve this problem? We can build a easy config system by mysql DB and Spring.<br>
<a href ="https://github.com/yinhaomin/Self-build-Configuration-Center">Click here to see it on Github</a>.
	</p>
	
	<h1><a href="">0x02. Solution of Configurable service logic</a></h1>
	<p>This is a solution of configurable service logic.<br>
This project want to solve a problem like this, when we have to change the online service logic frequently and repidly, or we have to switch the codes from some logic to some other logic.<br>
<a href ="https://github.com/yinhaomin/Self-build-Configuration-Center">Click here to see it on Github</a>.
	</p>
</div>
